<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MVVM</title>
  </head>
  <body>
    <div id="app" >
      <p>-----双向绑定数据----</p>
      <input v-model="name" v-on:click="sayHi" type="text">
      <h1>{{name}} 's age is {{age}}</h1>
      <p>-----计算属性------</p>
      <input v-model="firstNumber" type="text">
      <input v-model="secondNumber" type="text">
      <p>{{ getResult }}</p>
    </div>
    <script src="./js/observer.js"></script>
    <script src='./js/complie.js'></script>
    <script src='./js/watcher.js'></script>
    <script src='./js/mvvm.js'></script>
    <script>


    let vm = new mvvm({
      el: '#app',
      data: {
        name: 'jirengu',
        age: 3,
        firstNumber: 1,
        secondNumber: 2
      },
      computed: {
        getResult: function () {
          return parseInt(this.firstNumber) + parseInt(this.secondNumber)
        }
      },
      methods: {
        sayHi(){
          alert(`hi ${this.name}` )
        }
      }
    })

    let clock = setInterval(function(){
      vm.age++   //等同于 vm.$data.age， 见 mvvm init 方法内的数据劫持

      if(vm.age === 10) clearInterval(clock)
    }, 1000)


    </script>
  </body>
</html>
